.home{
  h2{
    font-size: 3rem;
    text-align: center;
    margin: 15px;
  }
  nav{
    @include display(flex);
    @include flex-direction(column);
    a{
      text-decoration: none;
      line-height: 1.5;
      text-align: center;
      font-size: 18px;
      display: inline-block;
      color: $black;
    }
  }

}
