.btn{
  background-color: $primaryColor;
  color: $white;
  text-decoration: none;
  padding: 10px 15px;
  display:inline-block;
  &.contact{
    margin: 0 auto 15px auto;
    @media #{$tablet}{
      margin: 0 0 0 20px;
    }
  }
}
.top-header{
  width: 100%;
  background-color: darken($grey,10%);
  padding: 10px;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @media #{$tablet}{
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  .header-contact{
    padding-bottom: 10px;
    @media #{$tablet}{
      margin: 0 60px 0 0;
    }
    p{
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      margin-bottom: 10px;
      @media #{$tablet}{
        @include justify-content(flex-start);
      }
      &:last-child{
        margin-bottom: 0;
      }
      img{
        width: auto;
        height: 25px;
        margin-right: 10px;
      }
    }
  }
}
.header-items{
  background-color: $grey;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(row);
  @include justify-content(space-between);
  padding: 10px;
  .nav-trigger{
    margin-right: 10px;
    @media #{$tablet}{
      display: none;
    }
    img{
      width: 25px;
      height: auto;
    }
    position: relative;
  }
  .nav-bar{
    background-color: $grey;
    font-family: $primaryFont;
    margin-right: 50px;
    @include display(flex);
    @include flex-direction(column);
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 50px 0 0 10px;
    transition: all 0.5s ease;
    @media #{$tablet}{
      position: relative;
      top: 0;
      height: auto;
      padding: 0;
      width: auto;
    }
    ul{
      @media #{$tablet}{
        @include display(flex);
        @include flex-direction(row);
        list-style-type: none;
      }
      li{
        a{
          text-decoration: none;
          padding: 10px;
          display: inline-block;
          color: $black;
          width: 90%;
        }
      }
    }
    &.active{
      top: 0;
    }
    img.close{
      width: 18px;
      height: auto;
      position: fixed;
      top: -250px;
      right: 25px;
      opacity: 0;
      transition: all 0.5s ease 0.25s;
      &.show{
        opacity: 1;
        top: 30px;
      }
    }
    .has-dropdown{
      position: relative;
      @media #{$tablet}{
        @include display(flex);
        @include flex-direction(row);
        margin-right: 15px;
      }
      span{
        img{
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          @media #{$tablet}{
              margin-top: 16px;
              margin-left: 5px;
          }
        }
      }
    }
    .dropdown{
      list-style-type: none;
      display: none;
      width: 100%;
      background-color: darken($grey,10%);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16);
      @media #{$tablet}{
        margin-left: 15px;
        position: absolute;
        top: 45px;
        left: -10px;
        min-width: 160%;
        a{
          line-height: 1.5;
        }
      }
    }
  }
  .logo{
    width: auto;
    height: 65px;
    margin-left: 10px;
  }
}
