/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Querys --- */
/* --- Media Querys --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

p, a, li, b {
  font-size: 16px;
}

.home h2 {
  font-size: 4rem;
  text-align: center;
}
.home nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
.home nav a {
  text-decoration: none;
  line-height: 1.5;
  text-align: center;
  font-size: 1.5rem;
}

@keyframes top-nav {
  0% {
    transform: rotate(0deg);
    transform-origin: right;
  }
  100% {
    transform: rotate(-45deg);
    transform-origin: right;
  }
}
@keyframes top-nav-rev {
  0% {
    transform: rotate(-45deg);
    transform-origin: right;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: right;
  }
}
@keyframes middle-nav {
  0% {
    position: relative;
    right: 0;
    opacity: 1;
  }
  100% {
    position: relative;
    right: 100px;
    opacity: 0;
  }
}
@keyframes middle-nav-reverse {
  0% {
    position: relative;
    right: 100px;
    opacity: 0;
  }
  100% {
    position: relative;
    right: 0;
    opacity: 1;
  }
}
@keyframes bottom-nav {
  0% {
    transform: rotate(0deg);
    transform-origin: right;
    width: 20px;
  }
  100% {
    transform: rotate(42deg);
    transform-origin: right;
    width: 30px;
  }
}
@keyframes bottom-nav-rev {
  0% {
    transform: rotate(42deg);
    transform-origin: right;
    width: 30px;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: right;
    width: 20px;
  }
}
.header-items {
  background-color: #139DD9;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 10px;
}
.header-items .nav-trigger {
  margin-right: 10px;
  position: relative;
}
@media (min-width: 1024px) {
  .header-items .nav-trigger {
    display: none;
  }
}
.header-items .nav-trigger img {
  width: 25px;
  height: auto;
}
.header-items .nav-bar {
  background-color: #139DD9;
  font-family: "Open Sans";
  margin-right: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 50px 0 0 10px;
  transition: all 0.5s ease;
}
@media (min-width: 1024px) {
  .header-items .nav-bar {
    position: relative;
    top: 0;
    height: auto;
    padding: 0;
    width: auto;
  }
}
@media (min-width: 1024px) {
  .header-items .nav-bar ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    list-style-type: none;
  }
}
.header-items .nav-bar ul li a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #fff;
  width: 90%;
}
.header-items .nav-bar.active {
  top: 0;
}
.header-items .nav-bar img.close {
  width: 18px;
  height: auto;
  position: fixed;
  top: 30px;
  right: 25px;
  opacity: 0;
  transition: all 0.5s ease 0.25s;
}
.header-items .nav-bar img.close.show {
  opacity: 1;
}
.header-items .nav-bar .has-dropdown {
  position: relative;
}
@media (min-width: 768px) {
  .header-items .nav-bar .has-dropdown {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    margin-right: 15px;
  }
}
.header-items .nav-bar .has-dropdown span img {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .header-items .nav-bar .has-dropdown span img {
    margin-top: 16px;
    margin-left: 5px;
  }
}
.header-items .nav-bar .dropdown {
  list-style-type: none;
  margin-left: 15px;
  display: none;
  width: 100%;
  background-color: #0f7baa;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .header-items .nav-bar .dropdown {
    position: absolute;
    top: 45px;
    left: -10px;
    min-width: 160%;
  }
  .header-items .nav-bar .dropdown a {
    line-height: 1.5;
  }
}
.header-items .logo {
  width: auto;
  height: 65px;
  margin-left: 10px;
}
